<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReviewRestaurant</servlet-name>
        <servlet-class>controller.EditReviewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReviewRestaurant</servlet-name>
        <servlet-class>controller.RemoveReviewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewRestaurant</servlet-name>
        <servlet-class>controller.AddReviewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailFood</servlet-name>
        <servlet-class>controller.DetailFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>controller.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRestaurant</servlet-name>
        <servlet-class>controller.ListRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFood</servlet-name>
        <servlet-class>controller.ListFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>controller.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <servlet-class>controller.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodStatusServlet</servlet-name>
        <servlet-class>controller.UpdateFoodStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurantServlet</servlet-name>
        <servlet-class>controller.AddRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRestaurantServlet</servlet-name>
        <servlet-class>controller.UpdateRestaurantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReviewRestaurant</servlet-name>
        <url-pattern>/edit-review-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReviewRestaurant</servlet-name>
        <url-pattern>/remove-review-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewRestaurant</servlet-name>
        <url-pattern>/add-review-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailFood</servlet-name>
        <url-pattern>/detail-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/list-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRestaurant</servlet-name>
        <url-pattern>/list-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFood</servlet-name>
        <url-pattern>/list-foods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/add-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <url-pattern>/update-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodStatusServlet</servlet-name>
        <url-pattern>/update-food-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurantServlet</servlet-name>
        <url-pattern>/add-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRestaurantServlet</servlet-name>
        <url-pattern>/update-restaurant</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
